<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <a href="{{url_for('addCategory')}}">Add New Category</a>
            <ul>
                    {% for category in categories %}
                   <li>{{category.name}}</li>
                   <a href="{{url_for('showItems', category_id = category.id)}}">View Items</a>
                   <a href="{{url_for('editCategory', category_id = category.id)}}">Edit Category</a>
                   {% endfor %}
                </ul>  
    </body>
</html>
