<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <header role='banner'>
            <div class="fixed-top">
                <nav class="navbar navbar-expand-lg py-2" style="background-color: #563d7c;">
                <div class="container-fluid">
                <a class="navbar-brand text-light" href="{{url_for('showCategories')}}"><i class="fas fa-cart-arrow-down"></i> Catalog</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id = "navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-white">
                        <li class="nav-item pr-2"><a href="{{url_for('addCategory')}}" class="btn btn-warning">Add New Category</a></li>
                    </ul>
                </div>    
            </div>
                </nav>
            </div>
        </header>
        <section class="pt-5 mt-3 text-dark bg-warning"></section>
        <p>Edit {{item.name}} item:</p>
        <form action="{{url_for('editItems', item_id = item.id, category_id = category.id)}}" method='POST'>
                <label for="title">Edit Title:</label>
                <input type="text" id="title" name="editTitle" placeholder="{{item.name}}">
                <label for="description">Add Description:</label>
                <input type="text" id="description" name="editDescription" placeholder="{{item.description}}">
                <label for="category">Select Category:</label>
                <select name="category" required>
                    <option value="Soccer" id="category">Soccer</option>
                    <option value="Football" id="category">Football</option>
                    <option value="Snowboarding" id="category">Snowboarding</option>
                    <option value="Hockey" id="category">Hockey</option>
                  </select>
                <button type="submit">Add</button>
                <a href="{{url_for('showItems', category_id = category.id)}}">Cancel</a>
                </form>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>