<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
         <p>{{category.name}} category items</p>
            {% if items != None %}
                <ul>
                    {% for item in items %}
                    <li>{{item.id}} {{item.name}}</li>
                    <a href="{{url_for('editItems', category_id = category.id, item_id = item.id)}}">Edit</a>
                    <a href="{{url_for('deleteItems', category_id = category.id, item_id = item.id)}}">Delete</a>
                    {% endfor %}
                </ul>
                {% else %}
                <p>There are no items available for this category.</p>
            {% endif %}
            <a href="{{url_for('addItems', category_id = category.id)}}">Add New Item</a>
    </body>
</html>